* {
	/*border: 1px dashed #cccccc;*/
}

body {
	margin: 0;
	font-family: Lato, sans-serif;
	text-align: center;
}

h1 {
	font-family: Roboto, sans-serif;
}

button {
	width: 200px;
	height: 50px;
}

.controls{
	padding: 20px;
}

.playing-field{
	margin: 0 auto;
	width: 50%;
	display: block;
	/* max-height: 500px; */
	/*border: 1px solid black;*/
	/*overflow: wrap;*/
}

.scorekeeper {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}


table {
	width:100%;
/*	width: 75vh;
	height: 75vh;*/
	border-collapse: collapse;
}


td{
	width: 33.333%;
	/*height: 33.333%;*/
	/*font-size: 48px;*/
	/*border: 6px solid black;*/
}

td:after {
	content:'';
	display: block;
	margin-top: 100%;
}

.column2 {
	border-left: 5px solid black;
	border-right: 5px solid black;
}

.row2{
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

.cross{
	background-image: url('x.png');
	background-size: cover;
}

.nought{
	background-image: url('o.png');
	background-size: cover;
}

.unclickable {
	pointer-events: none;
}
